        body {
            background-color: #333;
        }
    
        h1 {
            color: white;
        }
    
        img.picture {
            width: 60%;
            border-radius: 5%;
        }
